body{
	padding-top: 75px;
	background: url("background.jpg");
	background-position: cover;
	font-family: 'Merriweather', serif;
	
}
#frontpagecontent{
	text-align: center;
	padding-top: 50%
}

h1{
	color: #c3ccdb;
	font-weight: bold;
	font-size: 45px;
}

p{
	color: #c3ccdb;
	font-style: italic;
	font-size: 30px
}

button{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(230, 250, 255, 0), rgba(230, 250, 255, 0.75), rgba(230, 250, 255, 0));
}
li{
	padding-left:10px;
}